{% extends "layout.njk" %}
{% block  content %}
<main class="container mt-3">
    <h1>{{ title }}</h1>
    <p>Username: {{ username }}</p>
    <a href="/logout">
    <button type="submit">Logout</button>
    </a>
    <p>This is your profile :)</p>
    <a href="/delete">
    <button type="submit">DELETE MY PROFILE!!! 🤬😈😡👹💀</button>
    </a>
</main>
{% endblock %}